
:root {
    --dark-orange : #E8351E;
    --light-grey : #FAF8F8;
    --dark-grey : #CCC;
    --white-color : #FFF;
    --soft-dark: #5E5E5E;
    --soft-blue: #4CA6C8;
    --ligth-coral: #ff7f50;
}

body {
    margin: 0;
    padding: 0;
    background: var(--light-grey);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: var(--soft-dark);
}

header {
    background: var(--soft-dark);
    display: flex;
}

main {
    /* flex-grow: 1; */
    flex: 1;
    display: flex;
}

footer {
    background: var(--soft-dark);
    display: flex;
    text-align: center;
    color: var(--ligth-coral);
    font-size: 1.5rem;
}

.wrapper {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a {
    color: var(--white-color);
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    display: block;
    text-align: center;
}

nav ul li.active a,
nav a:hover {
    background-color: var(--ligth-coral);
}

.container-cards {
    /* background-color: blue; */
    margin-top: 10px;
    padding: 15px;
}

.card {
    background-color: var(--white-color);
    border-radius: 7px;
    box-shadow: 0 0 23px var(--dark-grey);
    margin-bottom: 15px;
}

.card-header {
    background-color: var(--ligth-coral);
    border-radius: 7px 7px 0 0;
    padding: 15px;
    color: var(--white-color);
    text-transform: uppercase;
    text-align: center;
}

.card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-footer {
    background-color: var(--ligth-coral);
    border-radius: 0 0 7px 7px; 
    padding: 15px;
    color: var(--white-color);
    text-transform: uppercase;
    text-align: center;
}

.wrapper .about {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 800px) {
    
    /* MENU */
    nav ul {
        display: flex;
        justify-content: space-between;
    }

    nav ul li {
        flex-grow: 1;
    }

    /* CARDS */
    .container-cards {
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .card {
        flex-basis: 60%;
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    .card-body {
        flex-grow: 1;
    }
}